<form>
  <div>
    <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Brewery Name</mat-label>
    <input matInput placeholder="" value="">
  </mat-form-field>
</form>
<div *ngIf="errorMessage">
  {{errorMessage}}
</div>
<div fxLayout="column" *ngIf="breweries && breweries.length > 0">
  <div *ngFor="let brewery of breweries">
    <div fxLayout="row" *ngIf="brewery.beer && brewery.beer.length > 0">
      <div fxFlex="15">{{brewery.name}}:</div>
      <!-- <div *ngFor="let beer of brewery.beer">{{beer.name}}</div> -->
      <div>
        <mat-form-field>
          <mat-label>Select Beer</mat-label>
          <mat-select disableOptionCentering panelClass="myPanelClass">
            <mat-option *ngFor="let beer of brewery.beer" [value]="beer._id">
              {{beer.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
