<form>
  <div>
    <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Brewery Name</mat-label>
    <input matInput placeholder="" value="">
  </mat-form-field>
  <!-- <div class="mdc-text-field name">
       <input type="text" class="mdc-text-field__input" id="username-input" name="username">
       <label class="mdc-floating-label" for="username-input">Brewery Name</label>
       <div class="mdc-line-ripple"></div>
     </div> -->
</form>
<div *ngIf="errorMessage">
  {{errorMessage}}
</div>
<div *ngIf="breweries && breweries.length > 0">
  <div fxLayout="row" *ngFor="let brewery of breweries">
    {{brewery.name}}
  </div>
</div>
